body {
    background-color: #f0f0f0; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: block; /* Make each text input appear on a new line */
}

input[type="submit"] {
    width: 215px; /* Make button width equal to text field width */
    background-color: #000000; /* Change button color to black */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Ensure the button is on its own line */
}

